Repository prgrms-web-devcourse-final-project/WEB1_1_DoItTogether_BE, pull requests merged in 2024-11, with the labels that each got.

#13 [init] 프로젝트 초기 구조 설정
  build.gradle
  src/main/java/com/doittogether/platform/api/controller/dto/SwaggerRequest.java
  src/main/java/com/doittogether/platform/api/controller/dto/SwaggerResponse.java
  src/main/java/com/doittogether/platform/common/ExampleCommon.java
  src/main/java/com/doittogether/platform/domain/define/example/entity/Example.java
  src/main/java/com/doittogether/platform/domain/define/example/repository/ExampleRepository.java
  src/main/java/com/doittogether/platform/external/External.java
  src/main/java/com/doittogether/platform/global/ApiResponse.java
  src/main/java/com/doittogether/platform/global/exception/BaseErrorCode.java
  src/main/java/com/doittogether/platform/global/exception/ErrorResponse.java
  src/main/java/com/doittogether/platform/global/exception/ErrorStatus.java
  src/main/java/com/doittogether/platform/global/exception/ExceptionAdvice.java
  src/main/java/com/doittogether/platform/global/exception/GeneralException.java
  src/main/java/com/doittogether/platform/global/success/SuccessStatus.java
Labels: Init

#15 [feat] 공통 Response API 및 예외 처리 기능 추가
  src/main/java/com/doittogether/platform/application/common/ExampleCommon.java
  src/main/java/com/doittogether/platform/application/global/ApiResponse.java
  src/main/java/com/doittogether/platform/application/global/exception/BaseErrorCode.java
  src/main/java/com/doittogether/platform/application/global/exception/ErrorResponse.java
  src/main/java/com/doittogether/platform/application/global/exception/ErrorStatus.java
  src/main/java/com/doittogether/platform/application/global/exception/ExceptionAdvice.java
  src/main/java/com/doittogether/platform/application/global/exception/GeneralException.java
  src/main/java/com/doittogether/platform/application/global/success/SuccessStatus.java
  src/main/java/com/doittogether/platform/application/util/StringUtil.java
  src/main/java/com/doittogether/platform/common/ExampleCommon.java
  src/main/java/com/doittogether/platform/domain/define/example/entity/Example.java
  src/main/java/com/doittogether/platform/domain/define/example/repository/ExampleRepository.java
  src/main/java/com/doittogether/platform/domain/entity/Example.java
  src/main/java/com/doittogether/platform/domain/repository/ExampleRepository.java
  src/main/java/com/doittogether/platform/external/External.java
  src/main/java/com/doittogether/platform/global/exception/BaseErrorCode.java
  src/main/java/com/doittogether/platform/global/exception/ErrorStatus.java
  src/main/java/com/doittogether/platform/global/exception/GeneralException.java
  src/main/java/com/doittogether/platform/global/success/SuccessStatus.java
  src/main/java/com/doittogether/platform/infrastructure/config/ExampleConfig.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/ExampleRepositoryImpl.java
  src/main/java/com/doittogether/platform/presentation/__ResponseApiExampleController.java
  src/main/java/com/doittogether/platform/presentation/__SwaggerExampleController.java
  src/main/java/com/doittogether/platform/presentation/dto/SwaggerRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/SwaggerResponse.java
Labels: Feature

#21 [DOCS] Update issue templates
  .github/ISSUE_TEMPLATE/버그-리포트-템플릿.md
  .github/ISSUE_TEMPLATE/이슈-템플릿.md
Labels: documentation

#46 [FIX] nested 클래스 찾지 못하는 이슈 해결
  src/main/java/com/doittogether/platform/application/global/exception/ExceptionAdvice.java
  src/main/java/com/doittogether/platform/application/global/response/BaseResponse.java
  src/main/java/com/doittogether/platform/application/global/response/ExceptionResponse.java
  src/main/java/com/doittogether/platform/application/global/response/SuccessResponse.java
  src/main/java/com/doittogether/platform/presentation/HouseworkController.java
Labels: Bug, documentation, Feature, Chore, Refactoring, Test, Style

#45 [FEAT] RE: 채널 도메인 앤드포인트 구성 및 스웨거 작성
  build.gradle
  src/main/java/com/doittogether/platform/DoItTogetherApplication.java
  src/main/java/com/doittogether/platform/application/util/StringUtil.java
  src/main/java/com/doittogether/platform/common/config/JpaConfig.java
  src/main/java/com/doittogether/platform/common/config/ValidatorConfig.java
  src/main/java/com/doittogether/platform/domain/entity/Channel.java
  src/main/java/com/doittogether/platform/domain/entity/UserChannel.java
  src/main/java/com/doittogether/platform/presentation/ChannelController.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelJoinRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelKickUserRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelRegisterRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelUpdateRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelHouseworkListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelInviteLinkResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelJoinResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelRegisterResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelStatisticsResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelUserListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/UserResponse.java
Labels: documentation, Feature, Chore, Refactoring, Test, Style

#52 [FIX] BaseResponse 삭제로 SuccessResponse 로 수정
  src/main/java/com/doittogether/platform/presentation/ChannelController.java
Labels: Bug, documentation, Chore, Refactoring, Test, Style

#36 [FEAT] 레디스를 활용한 초대 링크 생성 및 유효성 검사
  build.gradle
  src/main/java/com/doittogether/platform/application/global/code/ExceptionCode.java
  src/main/java/com/doittogether/platform/application/global/exception/redis/EmbeddedRedisException.java
  src/main/java/com/doittogether/platform/application/global/exception/redis/InviteException.java
  src/main/java/com/doittogether/platform/business/invite/InviteLinkService.java
  src/main/java/com/doittogether/platform/business/invite/InviteLinkServiceImpl.java
  src/main/java/com/doittogether/platform/business/invite/RandomAuthCode.java
  src/main/java/com/doittogether/platform/business/redis/RedisSingleDataService.java
  src/main/java/com/doittogether/platform/business/redis/RedisSingleDataServiceImpl.java
  src/main/java/com/doittogether/platform/infrastructure/config/EmbeddedRedisConfig.java
  src/main/java/com/doittogether/platform/infrastructure/config/RedisConfig.java
  src/main/java/com/doittogether/platform/infrastructure/handler/redis/RedisHandler.java
  src/main/resources/application.yml
  src/main/resources/redis/redis-server-7.2.6-mac-arm64
  src/test/java/com/doittogether/platform/business/invite/InviteLinkServiceImplTest.java
  src/test/java/com/doittogether/platform/business/redis/RedisSingleDataServiceImplTest.java
Labels: Feat

#55 [FEAT] 채널 도메인에서 사용되는 CRUD 구현
  src/main/java/com/doittogether/platform/application/global/code/ExceptionCode.java
  src/main/java/com/doittogether/platform/application/global/exception/channel/ChannelException.java
  src/main/java/com/doittogether/platform/business/channel/ChannelService.java
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/common/config/SwaggerConfig.java
  src/main/java/com/doittogether/platform/domain/entity/BaseEntity.java
  src/main/java/com/doittogether/platform/domain/entity/Channel.java
  src/main/java/com/doittogether/platform/domain/entity/Role.java
  src/main/java/com/doittogether/platform/domain/entity/User.java
  src/main/java/com/doittogether/platform/domain/entity/UserChannel.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/ChannelRepository.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/UserChannelRepository.java
  src/main/java/com/doittogether/platform/presentation/ChannelController.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/ChannelController.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelJoinRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelHouseworkListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelJoinResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelKickUserResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelStatisticsResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelUpdateResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelUserListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/UserChannelResponse.java
  src/main/resources/application.yml
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest.java
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest2.java
  src/test/java/com/doittogether/platform/business/channel/ChannelServiceTest.java
Labels: Feat, Feature

#62 [FEAT] 채널 탈퇴 기능 추가
  src/main/java/com/doittogether/platform/application/global/code/ExceptionCode.java
  src/main/java/com/doittogether/platform/business/channel/ChannelService.java
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/domain/entity/Channel.java
  src/main/java/com/doittogether/platform/domain/entity/UserChannel.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/UserChannelRepository.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/ChannelController.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/request/PresetItemRegisterRequest.java
  src/test/java/com/doittogether/platform/business/channel/ChannelServiceTest.java
Labels: Feature

#64 [REFACTOR] 초대 링크 관련 base url 제거 -> 초대 링크만 제공하도록 수정
  src/main/java/com/doittogether/platform/DoItTogetherApplication.java
  src/main/java/com/doittogether/platform/business/invite/InviteLinkServiceImpl.java
  src/main/java/com/doittogether/platform/common/auth/filter/TemporaryAuthenticationFilter.java
  src/main/java/com/doittogether/platform/common/config/SecurityConfig.java
  src/main/resources/application.yml
  src/test/java/com/doittogether/platform/business/invite/InviteLinkServiceImplTest.java
Labels: Refactoring

#65 [FEAT] 집안일 조회, 추가 , 수정 , 삭제 기능 구현
  .gitignore
  build.gradle
  src/main/java/com/doittogether/platform/application/global/code/ExceptionCode.java
  src/main/java/com/doittogether/platform/application/global/exception/channel/ChannelValidationException.java
  src/main/java/com/doittogether/platform/application/global/exception/housework/HouseworkValidationException.java
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/business/channel/ChannelValidator.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkService.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkValidator.java
  src/main/java/com/doittogether/platform/business/preset/PresetServiceImpl.java
  src/main/java/com/doittogether/platform/common/exception/housework/HouseworkValidationException.java
  src/main/java/com/doittogether/platform/domain/entity/Assignee.java
  src/main/java/com/doittogether/platform/domain/entity/Channel.java
  src/main/java/com/doittogether/platform/domain/entity/Housework.java
  src/main/java/com/doittogether/platform/domain/entity/HouseworkCategory.java
  src/main/java/com/doittogether/platform/domain/entity/ProfileImage.java
  src/main/java/com/doittogether/platform/domain/entity/User.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/channel/ChannelRepository.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/AssigneeRepository.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/HouseworkRepository.java
  src/main/java/com/doittogether/platform/presentation/HouseworkController.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkController.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/ChannelController.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/request/ChannelRegisterRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelKickUserResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/ChannelListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/UserChannelResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/channel/response/UserResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/housework/HouseworkRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/housework/HouseworkResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/housework/HouseworkSliceResponse.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest.java
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest2.java
  src/test/java/com/doittogether/platform/application/global/exception/ExceptionAdviceTest.java
  src/test/java/com/doittogether/platform/business/PresetServiceTest.java
  src/test/java/com/doittogether/platform/business/channel/ChannelServiceTest.java
Labels: Feature

#71 [REFACTOR] 프론트 요청 사항 - 디폴트 프리셋 카테고리 생성
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/business/preset/PresetService.java
  src/main/java/com/doittogether/platform/business/preset/PresetServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
  src/test/java/com/doittogether/platform/business/PresetServiceTest.java
  src/test/java/com/doittogether/platform/business/channel/ChannelServiceTest.java
Labels: Refactoring
