Repository prgrms-web-devcourse-final-project/WEB1_1_DoItTogether_BE, pull requests merged in 2024-12, with the labels that each got.

#74 [FEAT] 프론트 요청 - 프리셋 목록 전체 조회 관련 서비스 추가
  src/main/java/com/doittogether/platform/business/preset/PresetService.java
  src/main/java/com/doittogether/platform/business/preset/PresetServiceImpl.java
  src/main/java/com/doittogether/platform/domain/entity/PresetItem.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/PresetCategoryRepository.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/PresetController.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/CategoryPresetListResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/CategoryPresetResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/PresetItemRegisterResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/PresetItemResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/PresetKeywordResponse.java
  src/test/java/com/doittogether/platform/business/PresetServiceTest.java
Labels: Feature

#76 [FEAT] 선호도 조사 키워드 추출 API 명세 작성
  src/main/java/com/doittogether/platform/business/personality/PersonalityService.java
  src/main/java/com/doittogether/platform/common/config/ChatGPTConfig.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/personality/PersonalityController.java
  src/main/java/com/doittogether/platform/presentation/dto/personality/PersonalityRequestDto.java
  src/main/java/com/doittogether/platform/presentation/dto/personality/PersonalityResponseDTO.java
  src/main/java/com/doittogether/platform/presentation/dto/preset/response/PresetKeywordListResponse.java
  src/main/resources/application.yml
Labels: Feature

#80 [FEAT] 집안일 상태 변경 문서화 작업
  src/main/java/com/doittogether/platform/business/housework/HouseworkService.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
  src/main/java/com/doittogether/platform/common/exception/housework/HouseworkValidationException.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkController.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
Labels: Feature

#84 [FEAT] 주간 월간 통계 부분 Swagger API 명세서 작성
  src/main/java/com/doittogether/platform/business/stastics/StatisticsService.java
  src/main/java/com/doittogether/platform/business/stastics/StatisticsServiceImpl.java
  src/main/java/com/doittogether/platform/domain/enumeration/CompletionStatus.java
  src/main/java/com/doittogether/platform/presentation/controller/personality/PersonalityController.java
  src/main/java/com/doittogether/platform/presentation/controller/stastics/StatisticsController.java
  src/main/java/com/doittogether/platform/presentation/controller/stastics/StatisticsControllerImpl.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/ChannelCountStatisticsResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/CompleteScoreResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/MonthlyMVPResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/MonthlyStatisticsResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/PersonalCompleteScoreResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/stastics/SingleDayStatisticsResponse.java
Labels: Feature

#88 [FEAT] 카카오 로그인 기능 구현 & 시큐리티 적용
  build.gradle
  src/main/java/com/doittogether/platform/application/global/exception/user/UserException.java
  src/main/java/com/doittogether/platform/business/user/CustomAuthenticationSuccessHandler.java
  src/main/java/com/doittogether/platform/business/user/CustomOAuth2UserService.java
  src/main/java/com/doittogether/platform/common/auth/filter/JwtAuthenticationFilter.java
  src/main/java/com/doittogether/platform/common/auth/filter/TemporaryAuthenticationFilter.java
  src/main/java/com/doittogether/platform/common/config/SecurityConfig.java
  src/main/java/com/doittogether/platform/common/config/jwt/JwtProvider.java
  src/main/java/com/doittogether/platform/common/config/jwt/JwtValidationType.java
  src/main/java/com/doittogether/platform/common/config/jwt/UserAuthentication.java
  src/main/java/com/doittogether/platform/domain/entity/User.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/UserRepository.java
  src/main/java/com/doittogether/platform/presentation/dto/user/CustomOAuth2User.java
  src/main/java/com/doittogether/platform/presentation/dto/user/KakaoOAuth2Response.java
  src/main/java/com/doittogether/platform/presentation/dto/user/OAuth2Response.java
  src/main/java/com/doittogether/platform/presentation/dto/user/OAuth2UserDTO.java
  src/main/resources/application.yml
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest.java
  src/test/java/com/doittogether/platform/TemporaryLoginSaveTest2.java
Labels: Feature

#87 [FEAT] 집안일 상세 조회, 상태 변경 Service 구현
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
Labels: Feature

#93 [REFACTOR] 토큰과 사용자 ID 를 통한 채널 서비스로 수정
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/channel/ChannelController.java
Labels: Refactoring

#99 [FEAT] 집안일 전체 API 유저 조회 로직 수정
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkController.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
Labels: Feature

#102 [FIX] 집안일 id별 상세 조회 문제 해결
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/HouseworkRepository.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
Labels: Bug

#110 [STYLE] 통계 API에서 조회 날짜 관련 Query string과 Path variable 중복 해결
  src/main/java/com/doittogether/platform/presentation/controller/stastics/StatisticsController.java
  src/main/java/com/doittogether/platform/presentation/controller/stastics/StatisticsControllerImpl.java
Labels: Style

#111 [REFACTOR]/ 채널 가입 validate 추가, 집안일 상태 변경 제외 편집 가능 확인 validate 제거
  src/main/java/com/doittogether/platform/business/channel/ChannelValidator.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkService.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
Labels: Refactoring

#112 [REFACTOR] TemporalAdjusters 라이브러리 사용 -> 주간(월~일)로 변경
  src/main/java/com/doittogether/platform/business/stastics/StatisticsServiceImpl.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/HouseworkRepository.java
Labels: Refactoring

#114 [CHORE] 무중단 배포 Git Actions workflow 작성
  .github/workflows/CD.yml
Labels: Chore

#119 [REFACTOR] 찌르기, 칭찬하기 requestBody 로 데이터 받기로 수정
  src/main/java/com/doittogether/platform/business/reaction/ReactionService.java
  src/main/java/com/doittogether/platform/business/reaction/ReactionServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/reaction/ReactionController.java
  src/main/java/com/doittogether/platform/presentation/dto/reaction/ReactionRequest.java
Labels: Refactoring

#120 [FEAT] 집안일 일간 별 미완료 개수 조회(조회 범위 : 일주일, 일~토) 기능 추가
  src/main/java/com/doittogether/platform/business/housework/HouseworkService.java
  src/main/java/com/doittogether/platform/business/housework/HouseworkServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkController.java
  src/main/java/com/doittogether/platform/presentation/controller/housework/HouseworkControllerImpl.java
  src/main/java/com/doittogether/platform/presentation/dto/housework/IncompleteScoreResponse.java
  src/main/java/com/doittogether/platform/presentation/dto/housework/PersonalIncompleteScoreResponse.java
Labels: Feature

#121 [REFACTOR] 알림 등록 날짜 착오로 데이터 수정
  src/main/java/com/doittogether/platform/business/reaction/ReactionServiceImpl.java
  src/main/java/com/doittogether/platform/domain/entity/Reaction.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/reaction/ReactionRepository.java
  src/main/java/com/doittogether/platform/presentation/dto/reaction/ReactionRequest.java
  src/main/resources/application.yml
Labels: Refactoring

#123 [REFACTOR] preset validation 로직 추가
  src/main/java/com/doittogether/platform/business/channel/ChannelValidator.java
  src/main/java/com/doittogether/platform/business/preset/PresetService.java
  src/main/java/com/doittogether/platform/business/preset/PresetServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/preset/PresetController.java
  src/test/java/com/doittogether/platform/business/PresetServiceTest.java
Labels: Refactoring

#127 [FEAT] 사용자 성향 분석 및 조회, GPT API 연계 기능
  .gitignore
  src/main/java/com/doittogether/platform/application/global/exception/personality/PersonalityException.java
  src/main/java/com/doittogether/platform/business/openai/ChatGPTService.java
  src/main/java/com/doittogether/platform/business/openai/Prompt.java
  src/main/java/com/doittogether/platform/business/openai/dto/ChatGPTRequest.java
  src/main/java/com/doittogether/platform/business/openai/dto/ChatGPTResponse.java
  src/main/java/com/doittogether/platform/business/openai/dto/Message.java
  src/main/java/com/doittogether/platform/business/openai/util/TemplateUtil.java
  src/main/java/com/doittogether/platform/business/personality/PersonalityService.java
  src/main/java/com/doittogether/platform/business/personality/PersonalityServiceImpl.java
  src/main/java/com/doittogether/platform/common/config/ChatGPTConfig.java
  src/main/java/com/doittogether/platform/domain/entity/Personality.java
  src/main/java/com/doittogether/platform/domain/enumeration/PersonalityStatus.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/personality/PersonalityRepository.java
  src/main/java/com/doittogether/platform/presentation/controller/personality/PersonalityController.java
  src/main/java/com/doittogether/platform/presentation/dto/personality/PersonalityResponseDTO.java
  src/main/resources/application.yml
Labels: Feature

#129 [CHORE] 키워드 4개 이상 추출을 위한 프롬프트 수정
  src/main/java/com/doittogether/platform/business/openai/Prompt.java
Labels: Chore

#115 [CHORE] 무중단배포시 사용할 스프링부트 실행 확인 라이브러리 추가 및 엔드포인트 설정
  build.gradle
  src/main/resources/application.yml
Labels: Chore

#135 [CHORE] 프론트 서버 환경 변수로 변경
  src/main/resources/application.yml
Labels: Chore

#141 [REFACTOR] 카카오 로그인 oauth2 부분, 필터, 회원 쪽 로그 추가
  src/main/java/com/doittogether/platform/common/oauth2/CustomAuthenticationSuccessHandler.java
  src/main/java/com/doittogether/platform/common/oauth2/CustomOAuth2UserService.java
  src/main/java/com/doittogether/platform/common/oauth2/filter/JwtAuthenticationFilter.java
  src/main/java/com/doittogether/platform/infrastructure/handler/redis/RedisHandler.java
  src/main/java/com/doittogether/platform/presentation/controller/user/UserController.java
Labels: Refactoring

#143 [REFACTOR] 유저 방 나가기 및 추방 관련 연계 삭제 처리
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/HouseworkRepository.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/reaction/ReactionRepository.java
Labels: Refactoring

#144 [REFACTOR] 유저 방 나가기 및 추방 관련 연계 삭제 처리
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/housework/HouseworkRepository.java
  src/main/java/com/doittogether/platform/infrastructure/persistence/reaction/ReactionRepository.java
Labels: Refactoring

#146 [DOCS] README 초안 작성
  README.md
Labels: documentation
